{% set collection = page.evaluate([{'@page.children' : '/program'}]) %}
<h2>Event Grid</h2>
<ul class="event-grid grid pure-g">
        {% for item in collection %}
            <li><h5>Event</h5> 
                {#% include 'partials/venue-event-grid-item.html.twig' with {'collection':collection.first()} %#}
            </li>
    {% endfor %}
</ul>