<div class="event-grid">
    {% set collection = page.collection() %}
    <div class="grid pure-g">
        <div class="block size-2-3 pure-u-2-3">
            {% include 'partials/venue-event-item.html.twig' with {'blog':page, 'page':collection.first(), 'truncate':true, 'grid_only':true} %}
        </div>
    </div>
</div>
