{% set collection = page.collection %}
<div class="event-grid grid pure-g">
    <ul>
        {% for item in collection %}
        <li><h5>Event</h5> {% include 'partials/venue-event-grid-item.html.twig' with {'collection':collection.first()} %}</li>
    </ul>
    {% endfor %}
</div>
