{% set collection = page.evaluate([{'@page.children':'/events'}]) %}
<!-- {% set ordered_collection = collection.order('date','desc') %} -->
<div class="event-grid">
    {% for event in collection %}
    <h5>Event</h5>
    {% endfor %}
    <!-- {% set collection = page.collection() %} -->
    <!-- {% block content %} -->
    <div class="grid pure-g">
        <div class="block size-2-3 pure-u-2-3">
            {% include 'partials/venue-event-item.html.twig' with {'blog':page, 'page':collection.first(), 'truncate':true, 'grid_only':true} %}
        </div>
    </div>
    <!-- {% endblock %} -->
</div>