{% extends 'partials/base.html.twig' %}
{% set title = 'Venue - Events' %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-music"></i> {{ title }}</h1>
{% endblock %}

{% block content_top %}

    <div class="form-tabs">
        <div class="tabs-nav">
        </div>
    </div>

{% endblock %}

{% block content %}
	<h4>TODO: Add plugin interface</h4>
{% endblock %}

