{% extends 'partials/base.html.twig' %}

{# TODO: change values below to show venue-events blueprints #}
{% set blueprints = theme.blueprints() %}
{% set context = admin.page(true) %}

{% set title = 'Venue - Events' %}

{% block titlebar %}
    <div class="button-bar">
        <a class="button" href="{{ base_url }}"><i class="fa fa-reply"></i> Back </a>
        {% if data.file.filename %}
        <button class="button" type="submit" name="task" value="save" form="blueprints"><i class="fa fa-check"></i> Save</button>
        {% endif %}
    </div>
    <h1><i class="fa fa-fw fa-music"></i> {{ title }}</h1>
{% endblock %}

{% block content %}
<div class="clear admin-pages">
	<div class="admin-form-wrapper">
		{% include 'partials/blueprints.html.twig' with { blueprints: context.blueprints, data: context } %}
	</div>
</div>
{% endblock %}

